include ../mixins/base

html
    head
        title="Abitsafe -> " + title
        meta(charset="utf-8")
        link(href="/stylesheets/createUser.css" rel="stylesheet")
        link(href="/assets/images/cowboy-hat.png" rel="icon")
        script(src='/javascripts/vendor/jquery.min.js')
        script(src='/javascripts/CreateUser.js')

    body
        block content
