include ../mixins/base

html
    head
        title="Abitsafe -> " + title
        meta(charset="utf-8")
        link(href="/stylesheets/login.css" rel="stylesheet")
        link(href="/assets/images/cowboy-hat.png" rel="icon")

    body(style="overflow: hidden;")
        block content
