extends  Layout/layout

block content
    h2= title
    +flash()
    +form("post",'/sharePassword/'+passwordId+'/')
        p.alert-danger="ATTENTION !!! Un mot de passe partagé est moins sécuritaire ;)"
        .form-group
            label
                p.label-txt Le nom de l'utilisateur pour partager
            input#password.input.form-control(type='text' name="UserName")
            .line-box
                .line
            br
            br
            div.row
                div.col-10
                div.col-2
                    button.btn.btn-lg.btn-info(type='submit') submit